@import url("https://fonts.googleapis.com/css?family=Raleway:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");

:root {
  --couleur_base : #00fca8;
  --dark_first: #171717;
  --dark_txt: whitesmoke;
  --color_multi: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );;;
  --back_multi: background: var(--color_multi);
}
/* bg */
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
/* fin de bg */
.dark-txt {
  color: var(--dark_txt);
}
/* action couleur */
.colorbase {
  color: #00fca8;
}

.aqua {
  color: aqua;
}

.green {
  color: greenyellow;
}

.red {
  color: crimson;
}

.blanc {
  color: whitesmoke;
}

.backcolor {
  background: #171717;
}
/* action couleur background */
.bcolorbase {
  color: #00fca8;
}

.baqua {
  background-color: aqua;
}

.bgreen {
  background-color: greenyellow;
}

.bred {
  background-color: crimson;
}

.bblanc {
  background-color: whitesmoke;
}

.backcolor {
  background: #171717;
}

/* fin de action couleur */
.textcolor {
  color: #fff;
}

.loadercolor {
  background: #202020;
}

.navcolor {
  background: #020202;
}

.grey {
  background: rgba(255, 255, 255, 0.1);
}

.black {
  background: #101010;
}

.progcolor {
  background: #191919;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


.dwnld {
  background: var(--couleur_base);
  border: none;
  padding: 20px 30px;
  color: #171717;
  outline: none;
  font-size: 20px;
  font-family: "Red Rose", Roboto;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
}

/* mention - site */
.mention {
  position: sticky;
  bottom: 0%;
  left: 0;
  z-index: 25;
  color: var(--dark_txt);
}
.mention a {
  text-decoration: none;
  cursor: pointer;
}
.mention a:hover {
  color: var(--couleur_base);
}
/* mention - mention */
.mention-legal {
  position: absolute;
  top: 10vh;
  left: 10vh;
  color: var(--dark_txt);
}
.mention-legal a {
  text-decoration: none;
}
.mention-legal a:hover {
  color: var(--couleur_base);
}

.info_perso {
  position: relative;
  z-index: 1;
}
.info_perso a {
 text-decoration: none;
 cursor: pointer;
 color: var(--dark_txt);
}
.info_perso a:hover {
  color: var(--couleur_base);
 }

/* logo */
.logoabout {
  border-radius: 50%;
  outline: 0.2vh solid white;
  border: ridge 10vh #171717;
  transform: rotate(180deg) scale(0.8);
  transition: ease-in 0.5s;
  width: 80vh;
}
.logoabout:hover {
  border-radius: 50%;
  transition: ease-in 0.5s;
  outline: none;
  border: ridge 0vh #171717;
  transform: rotate(0deg) scale(1);
  box-shadow: 0px 0px 10px 10px black;
}
/* fin de logo */

/* card projet */

.proj {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.col-md-6 {
  margin-left: 0!important;
  position: relative!important;
  width: 100%!important;
  padding-right: 15px!important;
  padding-left: 15px!important;
}

.cardse {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark_first);
  margin: 5%;
}
.cardse--link:hover {
  text-decoration: none;
  color: var(--couleur_base);
}
.lien:hover {
  text-decoration: none;
  color: var(--dark_txt);
}

.cardse ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardse ul li {
  list-style-type: none;
  width: 70%;
  height: auto;
}

.cardse .card {
  position: relative;
  width: 100%;
  height: 90%;
  margin: 2em 4em;
}

.cardse .card__image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.card_img_1{
  transform: rotate(-3deg);
}
.card_img_2{
  transform: rotate(0deg);
}
.card_img_3{
  transform: rotate(3deg);
}

.cardse .card__image--inner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 2em;
}

.cardse .card__image--inner img {
  width: 100%;
  border-radius: 20px;
}

.cardse .card__text {
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  margin: 5%;
}

.cardse .card__text--inner {
  display: block;
  font-size: 2rem;
  font-family: "Red Rose", Roboto;
  font-weight: 700;
}

.txt-card p {
  font-size: 2em;
}

@keyframes scaling {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* fin de card projet */

/* modal param */
.modal-backdrop {
  z-index: 2;
}
.gear {
  position: absolute;
  top: 35%;
  z-index: 5;
  right: 0;
  position: fixed;
}
.gear svg {
  animation: 10s ease 0s infinite rounde;
}
@keyframes rounde {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* fin de modal param */
/* list anglais */
#choice ul {
  list-style-type: none;
}
#choice ul button {
  border: none;
  background: none!important;
}
#choice ul li {
  color:#171717;
}
#choice ul button:focus li {
  color: var(--couleur_base);
}
/* fin de list anglais */
/* box */
.boxsize {
  position: relative;
  z-index: 1;
  margin-left: 10%;
  width: 80%;
  box-shadow: 0px 0px 0px 0px black;
  background-color: var(--dark_first);
}

/* fin de box */
/* reset color section */
#lab {
  width: 95%;
  display: none;
  background-color: var(--dark_first);
  overflow-x: hidden;
  padding-top: 10vh;
}
.content-img {
  width: 30vh;
  height: 40vh;
  border-radius: 10px;
  filter: grayscale(100%);
}
.content-img:hover {
  transition: all .5s ease-in;
  filter: none;
}
.column {
  background-color: rgba(#000, 1);
}
.contents h4 {
  font-size: 2em;
}
.contents {
  font-size: 2em;
}
.contents:hover .logos {
  transition: all 1s ease-out;
}
.contents .column {
  transition: all 1s ease-in;
}
/* img logo */
.logos {
  position: relative;
  width: 10vh;
  height: 10vh;
  display: block;
  margin: 5%;
  transition: all 1s ease-out;
}

.logo_html {
  transform: rotate(-10deg);
}
.logo_css {
  transform: rotate(10deg);
}
.logo_sass {
  transform: rotate(20deg);
}
.logo_ubuntu {
  transform: rotate(20deg);
}
.logo_php {
  transform: rotate(20deg);
}
.logo_js {
  transform: rotate(-20deg);
}
.logo_sql {
  transform: rotate(-10deg);
}

#blog {
  background: var(--dark_first);
  display: none;
  color: var(--dark_txt);
  padding-top: 10vh;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.blog_ {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}
.blog_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--couleur_base);
  margin-bottom: 5vh;
  cursor: pointer;
  z-index: 2;
}

.blog_ img {
  width: 50%;
}
.blog_section:hover {
  text-decoration: none;
  color: var(--couleur_base);
}

#portfolio {
  background-color: var(--dark_first);
  align-self: center;
  display: none;
  height: auto;
  overflow-x: hidden;
  width: 100%;
  color: var(--dark_txt);
  padding-bottom: 5vh;
}

#about {
  background-color: var(--dark_first);
  display: none;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.skills {
  width: 100%;
  height: auto;

}
.skills h2 {
  margin: 5vh;
  color: var(--couleur_base);
  text-align: center;
}
.skills .progress {
  margin: 5vh;
  height: 5vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px .1px black;
}
.skills .progress .progress-bar {
  background-color: var(--couleur_base);
  color: #171717;
}
/* fin de color section */
.about-first-paragraph {
  width: 80%;
}

.act {
  width: 5vh;
  height: 5vh;
  border: 0.1vh solid black;
  background-color: var(--couleur_base);
}

.blue {
  width: 5vh;
  height: 5vh;
  border: 0.1vh solid black;
  background-color: aqua;
}

.vert {
  width: 5vh;
  height: 5vh;
  border: 0.1vh solid black;
  background-color: greenyellow;
}

.rouge {
  width: 5vh;
  height: 5vh;
  border: 0.1vh solid black;
  background-color: crimson;
}

.white {
  width: 5vh;
  height: 5vh;
  border: 0.1vh solid black;
  background-color: whitesmoke;
}

.base {
  width: 5vh;
  height: 5vh;
  border: 0.1vh solid black;
  background-color: #00fca8;
}

/* css autre */
/*!
  * Item: Willy Wonka Theme
  * Description: Personal Portfolio Website Template
  * Author/Developer: Sujal
  * Version: v1
  */
::-webkit-scrollbar {
  width: 4px;
  color: #00fca8;
  transition: all 0.4s ease;
}

::-webkit-scrollbar-thumb {
  background: var(--couleur_base);
  border-radius: 4px;
  width: 4px;
  transition: all 0.4s ease;
}

::-webkit-scrollbar-track {
  background: #101010;
  border-radius: 4px;
  width: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: #00fca8;
}

/* btn full box */

.full {
  background-color: gray;
}
.box {
  background-color: gray;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  background: #171717;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  z-index: 100;
  font-family: poppins;
  background-color: #202020;
  color: var(--dark_txt);
  font-size: 70px;
  width: 100%;
}

body {
  user-select: none;
  height: auto;
  overflow-x: hidden;
  width: 100%;
  background: var(--dark_first);
}

#header {
  background: var(--dark_first);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  animation: scale 1.5s ease;
  position: relative;
  display: block;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-position: 50% 50%;
  display: block;
}

#navigation-content {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: var(--dark_first);
  transform: translateY(-200%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navigation-bar {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 3;
  margin-top: 5vh;
  padding: 10px;
  background: transparent;
  overflow: hidden;
}

/* border */
/* test anim */
.blake {
  border: .2vh solid transparent;
  overflow: hidden;
}

/* fin de test anim */

.title_page {
  font-size: 3em;
  text-align: center;
  color: var(--dark_txt);
}

/*  */
.svg-wrapper {
  margin-top: 10%;
  margin-left: -1%;
  width: 500px;
  border-bottom: .2vh solid var(--couleur_base);
}
.shape1,
.shape2 {
  stroke-dasharray: 1120;
  stroke-width: 5px;
  fill: transparent;
  stroke: var(--couleur_base);
  border-bottom: 5px solid black;
  transition-timing-function: linear;
  transition: stroke-dashoffset 4s, stroke-dasharray 4s;
}
.shape1 {
  stroke-dashoffset: 1120;
}
.shape2 {
  stroke-dashoffset: -1120;
}
.text {
  line-height: 32px;
  letter-spacing: 8px;
  top: -55px;
  position: relative;
}
.svg-wrapper:hover .shape1,
.svg-wrapper:hover .shape2 {
  stroke-dashoffset: 0;
  stroke-dasharray: 1120;
}

.border_1 {
  background-color: var(--couleur_base);
  width: 10vh;
  height: .5vh;
  transform: rotate(90deg);
  border-radius: 10px;
  animation: 3s linear 1s slidein1;
  position: relative;
  display: none;
}
.border_2 {
  background-color: var(--couleur_base);
  height: .5vh;
  width: 10vh;
  border-radius: 10px;
  animation: 3s linear 1s slidei2;
  position: relative;
  display: none;
}
.border_3 {
  background-color: var(--couleur_base);
  height: .5vh;
  width: 10vh;
  transform: rotate(-90deg);
  border-radius: 10px;
  animation: 3s linear 1s slidein3;
  position: relative;
  display: none;
}
.border_4 {
  background-color: var(--couleur_base);
  height: .5vh;
  width: 10vh;
  animation: 3s linear 1s slidein4;
  border-radius: 10px;
  position: relative;
  display: none;
}
@keyframes slidein {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 100%;
    left: 0;
  }
}
@keyframes slidein2 {
  from {

  }
  to {

  }
}
@keyframes slidein3 {
  from {

  }
  to {

  }
}
@keyframes slidein4 {
  from {

  }
  to {

  }
}

.logo_nav_first:hover {
  transform: scale(1.8);
}

.menubar {
  position: absolute;
  right: 4%;
  top: 40%;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.menubar span {
  position: relative;
  background-color: transparent;
  height: 2px;
  width: 20px;
  display: block;
  margin: 6px;
  border-radius: 20px;
}

.menubar .first-span {
  width: 35px;
}

.menubar .first-span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  background-color: var(--dark_txt);
  transition: all 0.5s ease;
}

.menubar .second-span {
  width: 35px;
}

.menubar .second-span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0;
  right: 0;
  background-color: var(--dark_txt);
  transition: all 0.3s ease;
}

.menubar .third-span {
  width: 35px;
}

.menubar .third-span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: var(--dark_txt);
  transition: all 0.3s ease;
}

.menubar:hover .second-span::before, .menubar:hover .first-span::before {
  width: 100%;
}

.menubar:hover {
  opacity: 1;
}

.close-first, .close-second {
  height: 2px;
  width: 35px;
  background-color: var(--dark_txt);
  display: block;
  margin: 4px;
  cursor: pointer;
  padding: 1px;
  border-radius: 20px;
}

.close-first {
  transform: rotate(45deg);
}

.close-second {
  transform: rotate(-45deg);
}

.navigation-close {
  height: 80px;
  position: absolute;
  top: 3%;
  right: 2.5%;
  opacity: 0.8;
  z-index: 3;
  cursor: pointer;
  transition: all 0.4s ease;
}

.navigation-close:hover {
  opacity: 1;
}

.logo img {
  height: 80px;
  position: absolute;
  top: 3%;
  left: 2.5%;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s ease;
}

.logo img:hover {
  opacity: 1;
  transform: rotate(-45deg);
}

#navigation-bar img {
  height: 80px;
  position: absolute;
  top: 15%;
  left: 2.5%;
  opacity: 0.8;
  transition: all 0.4s ease;
}

#navigation-bar img:hover {
  opacity: 1;
  transform: rotate(-45deg);
}

.header-image img {
  height: 100vh;
  float: right;
}

.header-image {
  float: right;
  height: auto;
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 100vh;
}

.header-content {
  height: 100vh;
  width: 100%;
  float: left;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: var(--dark_txt);
  font-family: raleway;
  font-weight: 400;
  letter-spacing: 1px;
  flex-direction: column;
  font-size: 50px;
  z-index: 1;
}

.header-content-box {
  z-index: 2;
  text-align: center;
  height: auto;
  padding-right: 60px;
  width: auto;
}

.header-content .firstline {
  z-index: 2;
  font-weight: 700;
  font-family: poppins;
  font-size: 4em;
}

.header-content .secondline {
  z-index: 2;
  font-size: 2em;
  padding-top: 20px;
  font-weight: 500;
  color: var(--dark_txt);
}

.slash {
  animation-name: animateslash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes animateslash {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@-webkit-keyframes animateslash {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.social-media-links {
  width: 10%;
  height: 100%;
  position: absolute;
  z-index: 2;
  padding: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.social-media-links img {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.social-media {
  color: var(--dark_txt);
  width: 21px;
  opacity: 0.6;
  margin: 8px;
  transition: all 0.4s ease;
}

.social-media:hover {
  opacity: 1;
  transform: scale(1.1);
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: poppins;
}

.navigation-links a {
  padding: 10px;
  text-decoration: none;
  color: var(--dark_txt);
  font-size: 30px;
  opacity: 0.7;
  transition: all 0.4s ease;
}

.navigation-links a:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.navigation-links a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  align-items: center;
  font-size: 5em;
  font-weight: 400;
  font-family: monoton;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 100px;
  transition: all 0.4s ease;
}

.navigation-links a:hover::before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 10px;
  color: var(--couleur_base);
}
#contact {
  width: 95%;
  display: none;
  background: var(--dark_first);
  overflow: hidden;
  padding-top: 20vh;
  color: var(--dark_txt);
}

.contact {
  display: flex;
  position: absolute;
  width: 10%;
  right: 0;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
}

#contact-form input {
  color: var(--dark_txt);
  background: none;
  border: 1px solid var(--couleur_base);
  border-bottom: none;
}
#contact-form input:hover {
  animation: moving3 2s;
  /* animation: movinge 5s infinite; */
}
@keyframes moving3 {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--couleur_base);
  }
}

#contact-form textarea {
  color: var(--dark_txt);
  border: 1px solid var(--couleur_base);
  background: none;
  border-bottom: none;
}
#contact-form textarea:hover {
  animation: moving3 2s;
}

.send_contact {
  width: 100%;
  border: 1px solid var(--couleur_base);
  border-bottom: none;
}
.send_contact:hover {
  background: var(--couleur_base);
  transform: scale(1.2);
}

/* mail et tel */

.contact img {
  margin: 10px;
  height: 30px;
  opacity: 0.6;
  transition: all 0.4s ease;
}

.contact img:hover {
  opacity: 1;
  transform: scale(1.1);
}
.contact-class {
  font-size: 2em;
}
#breaker {
  height: 200vh;
  width: 200%;
  background-color: var(--couleur_base);
  opacity: 1;
  animation: breakeranimate 2s linear;
  display: none;
  transition: all 0.4s ease;
  border-radius: 5px;
  z-index: 10;
  position: fixed;
}

@keyframes breakeranimate {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes breakeranimate {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.color {
  color: #00fca8;
  transition: all 0.4s ease;
}

@keyframes scale {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes breakeranimate {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark_txt);
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 30px;
}

.about-header {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-family: raleway;
  color: var(--dark_txt);
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 60px;
  font-weight: 900;
}

.about-first-paragraph {
  color: var(--dark_txt);
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  width: 50%;
  padding: 30px;
  font-weight: 400;
}

.about-first-paragraph .color {
  font-size: 40px;
}

.about-first-line {
  font-size: 35px;
  opacity: 1;
  margin-bottom: 10px;
  display: block;
}

.about-second-line {
  opacity: 0.8;
  font-size: 18px;
  font-weight: 200;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: row;
}

.about-img img {
  width: 100%;
  height: 380px;
  padding: 30px;
  border-radius: 40px;
}

.about-img {
  width: 550px;
  height: auto;
  padding: 30px;
  padding-top: 10px;
  border-radius: 40px;
}

#about-content a {
  text-decoration: none;
  font-family: aileron;
  font-weight: 400;
  font-size: 35px;
  color: #00fca8;
  transition: all 0.4s ease;
}

.cv {
  padding-top: 40px;
}

.cv a button:hover {
  opacity: 1;
  transform: scale(1.05);
}

#services {
  position: relative;
}

.services-heading {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-family: raleway;
  color: var(--dark_txt);
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: 900;
}

.about-first-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.colors {
  color: var(--dark_txt);
}

.services-content {
  height: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 2.5%;
}

.service {
  height: 380px;
  width: 28%;
  margin: 1.5%;
  background-color: #191919;
  display: inline-block;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  position: relative;
  text-align: center;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  animation: opacity 1.4s ease;
}

.service-img {
  text-align: center;
}

.service-img img {
  display: inline-block;
  z-index: 2;
  position: relative;
  margin: 20px;
  border-radius: 30%;
  padding: 10px;
  border: 0px solid #00fca8;
  background: #00fca8;
  box-shadow: 0px 0px 0px 0px #00fca8;
  height: 100px;
  transition: all 0.8s ease;
}

.service:hover .service-img img {
  box-shadow: 0px 0px 0px 400px #00fca8;
}

.service-description {
  font-family: poppins;
  color: var(--dark_txt);
  position: relative;
  display: inline-block;
  z-index: 2;
}

.service-description h2 {
  padding: 10px;
  margin: 5px;
  font-weight: 200;
  font-size: 25px;
}

.service-description p {
  padding: 10px;
  font-weight: 200;
  font-size: 16px;
  opacity: 0.8;
}

#skills {
  width: 100%;
  height: auto;
}

.skills-header {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-family: raleway;
  color: var(--dark_txt);
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: 900;
}

.skills-content {
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
}

.skill-html {
  height: auto;
  width: 45%;
  padding: 0%;
  position: relative;
  font-family: poppins;
  color: var(--dark_txt);
  display: inline-block;
  padding: 1.5%;
}

.skill-text {
  width: 80%;
  position: relative;
  height: 50px;
}

.html {
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 30%;
  background-color: var(--dark_first);
}

.html-prog {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: #191919;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.html-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: 95%;
  border-radius: 10px;
  background: #00fca8;
}

.js-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  font-family: poppins;
  justify-content: center;
  transition: all 0.4s ease;
  width: 90%;
  border-radius: 10px;
  background: #00fca8;
}

.adobe-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: 83%;
  border-radius: 10px;
  background: #00fca8;
}

.php-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  border-radius: 10px;
  background: #00fca8;
  transition: all 0.4s ease;
}

.jquery-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: 94%;
  border-radius: 10px;
  background: #00fca8;
}

.seo-progress {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84%;
  border-radius: 10px;
  transition: all 0.4s ease;
  background: #00fca8;
}

.header-caption {
  opacity: 0.8;
  display: block;
  font-size: 20px;
  font-family: raleway;
  padding: 8px;
  padding-top: 15px;
  color: var(--dark_txt);
  font-weight: 400;
}

button:hover .index {
  position: relative;
  z-index: 4;
}

.button {
  text-align: center;
}

.blog-header {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-family: raleway;
  color: var(--dark_txt);
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 60px;
  font-weight: 900;
}

.cursor {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
  border: 1px solid var(--dark_txt);
  background: transparent;
  pointer-events: none;
  position: fixed;
  top: -25px;
  left: -25px;
  z-index: 10;
  opacity: 0.6;
  transition: scale 0.5s ease;
}

.cursor-small {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  background: transparent;
  pointer-events: none;
  position: fixed;
  top: -25px;
  left: -25px;
  z-index: 10;
  opacity: 0.6;
  transition: scale 0.4s ease;
}

.blog-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blogs {
  height: 420px;
  width: 40%;
  margin: 20px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.blogs .img {
  height: 80%;
  width: 100%;
  overflow: hidden;
  transition: all 0.65s ease;
  position: relative;
}

.blog-date {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #00fca8;
  color: var(--dark_txt);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  font-family: poppins;
  padding: 3px;
  transition: all 0.4s ease;
  width: 25%;
  height: auto;
}

.blogs .img img {
  height: 100%;
  width: 100%;
  transition: all 0.65s ease;
}

.blog-text {
  height: 80%;
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-family: poppins;
  color: var(--dark_txt);
  background-color: #050505;
  transition: all 0.5s ease;
}

.blog-text h3 {
  font-size: 28px;
  font-weight: 500;
  height: 20%;
  padding: 20px;
  letter-spacing: 1px;
}

.blog-text p {
  font-size: 18px;
  opacity: 0.9;
  font-weight: 400;
  height: 80%;
  padding: 30px;
  letter-spacing: 1px;
}

.blogs:hover .img {
  transform: translateY(-70%);
}

.blogs:hover .blog-text {
  transform: translateY(-70%);
}

.blogs a {
  text-decoration: none;
  color: var(--dark_txt);
}

form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: center;
  position: relative;
}

.input-line {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-name {
  width: 40%;
  padding: 10px 20px;
  margin: 14px;
  border-radius: 8px;
  outline: none;
  background: #050505;
  border: none;
  color: var(--dark_txt);
  font-family: poppins;
  font-size: 18px;
}

.form-header {
  font-size: 24px;
  font-family: poppins;
  font-weight: 400;
  color: var(--dark_txt);
  padding: 28px;
}

.input-subject {
  width: 84%;
  padding: 10px 20px;
  margin: 24px;
  border-radius: 8px;
  outline: none;
  background: #050505;
  border: none;
  color: var(--dark_txt);
  font-family: poppins;
  font-size: 18px;
}

.input-textarea {
  width: 84%;
  padding: 10px 20px;
  margin: 15px;
  height: 150px;
  border-radius: 8px;
  outline: none;
  background: #050505;
  border: none;
  color: var(--dark_txt);
  font-family: poppins;
  font-size: 18px;
}

form button {
  padding: 8px 24px;
  font-family: poppins;
  font-size: 20px;
  color: var(--dark_txt);
  background: #00fca8;
  opacity: 0.8;
  margin: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease;
}

form button:hover {
  opacity: 1;
}

.contect-info-content-line {
  height: auto;
  padding: 10px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-left: 100px;
}

.icon {
  height: 40px;
  opacity: 0.8;
}

.footer {
  background: #080808;
  width: 100%;
  padding: 20px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  font-family: poppins;
  align-items: center;
  justify-content: center;
}

.footer .footer-text {
  position: relative;
  display: inline;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}

.color-changer {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  right: -150px;
  top: 40%;
  z-index: 4;
  color: #101010;
  transition: all 0.4s ease;
}

.color-changer-active {
  right: 0px;
  transition: all 0.4s ease;
}

.color-panel {
  height: 45px;
  cursor: pointer;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background: var(--dark_txt);
}

.color-panel img {
  height: 40px;
  width: 40px;
  padding: 2px;
  animation: rotate 2s linear infinite;
}

.dwnld {
  background: var(--couleur_base);
  border: none;
  padding: 20px 30px;
  color: #171717;
  outline: none;
  font-size: 20px;
  font-family: "Red Rose", Roboto;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
}

.colors ul {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 150px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.colors li {
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 20%;
  position: relative;
  overflow: hidden;
}

.colors li a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.color-red {
  background: #c70039;
}

.color-purple {
  background: #481380;
}

.color-green {
  background: #04A777;
}

.color-blue {
  background: #035aa6;
}

.color-malt {
  background: #00909e;
}

.color-orange {
  background: #dd7631;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.color-selector {
  height: auto;
  width: 150px;
  padding: 10px;
  background: whitesmoke;
  font-family: poppins;
  font-size: 16px;
  display: flex;
  color: #101010;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-selector li {
  list-style: none;
}

/* scroll pos animation */

@keyframes wipe-enter {
	0% {
		margin-left: 200%;
    opacity: 0;
	}
	50% {
		margin-left: 0;
    opacity: 1;
	}
}

.square {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 3s 1;
  }
}

@keyframes wipe-enter2 {
	0% {
		margin-left: -100%;
    opacity: 0;
	}
	50% {
		margin-left: 0;
    opacity: 1;
	}
}

.square2 {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation2 {
    animation: wipe-enter2 3s 1;
  }
}

@keyframes wipe-enter3 {
	0% {
		margin-left: 200%;
    opacity: 0;
	}
	50% {
		margin-left: 0;
    opacity: 1;
	}
}

.square3 {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation3 {
    animation: wipe-enter3 3s 1;
  }
}

/*# sourceMappingURL=style.css.map */

/*

For devices with smaller width like mobile phone

------------------------------------------------------------------------------------------------------------------------
--------------                  -----------               ----------------   -------------------------------------------
--------------                  -----------   ----------------------------   -------------------------------------------
---------------------  --------------------   ----------------------------   -------------------------------------------
---------------------  --------------------         ----------------------   -------------------------------------------
---------------------  --------------------   ----------------------------   -------------------------------------------
---------------------  --------------------   ----------------------------   -------------------------------------------
---------------------  --------------------   ----------------------------   -------------------------------------------
---------------------  --------------------               ----------------                 -----------------------------
------------------------------------------------------------------------------------------------------------------------

*/
@media only screen and (max-width: 550px) {
  /* mes modifs */
  body {
    overflow-x: visible;
  }
  .header-content .firstline {
      z-index: 2;
      font-weight: 700;
      font-family: poppins;
      font-size: 1.5em;
    }
    
    .header-content .secondline {
      z-index: 2;
      font-size: 1.5em;
      padding-top: 20px;
      font-weight: 500;
      color: var(--dark_txt);
    }

    .txt-card p {
      width: 100%;
      font-size: 1em;
    }
    .proj {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .mail_nom {
      flex-direction: column!important;  
    }

    .svg-wrapper {
      margin-top: 50%;
      width: 90%;
    }
    .logos {
      width: 10%;
      height: 10%;
    }
    .logoabout {
      width: 40vh;
    }
    .info_perso a {
      color: #007bff;
     }
  .can {
    width: 90%;
    flex-wrap: wrap!important;
  }
  .lab_link {
    display: flex;
    justify-content: center;
  }
  .lab_text {
    display: flex;
    justify-content: center;
  }

  /* lab */
  #lab {
      margin: 0!important;
  }
  .gallery {
      margin: 0!important;
  }
  .d-flex {
      margin: 0!important;
  }
  .mx-5 {
      margin: 0!important;
  }
    .content-img {
      width: 30vh;
      height: 40vh;
      border-radius: 10px;
    }
    .contents h4 {
      font-size: 2em;
    }
    .contents {
      font-size: 1em;
    }
  /* fin de mes modfis */
  .cardse {
    width: 90%;
  }
  .cardse .card__text--inner {
    font-size: 2rem;
    font-weight: 350;
  }

  .cardse .card {
    width: 160px;
    height: 360px;
    margin: 2em 4em;
  }

  #blog .cards {
    margin-right: 5vh;
  }

  .header-content {
    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--dark_txt);
    font-family: raleway;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 40px;
  }

  .contact {
    display: none;
  }
  #contact {
    display: none;
  }

  .header-image {
    float: right;
    height: auto;
    width: 0%;
  }

  .social-media-links {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header-content-box {
    padding-left: 0px;
    z-index: 2;
    text-align: center;
  }

  

  #breaker {
    height: 200vh;
    width: 200%;
    background-color: var(--couleur_base);
    opacity: 1;
    animation: breakeranimate 2s linear;
    display: none;
    transition: all 0.4s ease;
    z-index: 10;
    position: fixed;
  }

  @keyframes breakeranimate {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @-webkit-keyframes breakeranimate {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .header-content-box {
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 0px;
    width: auto;
  }

  #about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark_txt);
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 30px;
  }

  .about-header {
    color: var(--dark_txt);
    justify-content: center;
    font-size: 35px;
    font-family: raleway;
    padding: 10px;
    font-weight: 900;
  }

  .about-first-paragraph {
    color: var(--dark_txt);
    justify-content: center;
    font-size: 20px;
    font-family: poppins;
    width: 95%;
    padding: 10px;
    font-weight: 400;
  }

  .about-first-paragraph .color {
    font-size: 30px;
  }

  .about-first-line {
    margin-left: 7vh;
    font-size: 28px;
    opacity: 1;
    margin-bottom: 10px;
    display: block;
  }

  .about-second-line {
    margin-left: 7vh;
    opacity: 0.8;
    font-size: 15px;
  }

  .about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column-reverse;
  }

  .about-img img {
    width: 280px;
    height: 220px;
    padding: 5px;
    border-radius: 10%;
  }

  .about-img {
    width: 100%;
    height: 250px;
    text-align: center;
    overflow: hidden;
    border-radius: 10%;
  }

  .service {
    height: 320px;
    width: 90%;
    margin: 1.5%;
    background-color: #191919;
    display: inline-block;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
  }

  .service-img img {
    display: inline-block;
    z-index: 2;
    position: relative;
    margin: 20px;
    border-radius: 30%;
    padding: 10px;
    height: 80px;
    transition: all 0.8s ease;
  }

  .skill {
    width: 80%;
  }

  .prog {
    height: 30px;
  }

  .skills-content {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .cursor {
    display: none;
  }

  .service:hover .service-img img {
    box-shadow: 0px 0px 0px 0px #00fca8;
  }

  #navigation-bar img {
    height: 80px;
    position: absolute;
    top: 15%;
    left: 2.5%;
    opacity: 0.8;
    transition: all 0.4s ease;
    display: none;
  }

  .blogs {
    height: auto;
    width: 90%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .blogs .img {
    height: 80%;
    width: 100%;
    overflow: hidden;
    transition: all 0.65s ease;
    position: relative;
  }

  .blog-date {
    position: absolute;
    left: 0;
    bottom: 0;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: poppins;
    padding: 3px;
    width: 35%;
    height: auto;
  }

  .blogs .img img {
    height: 100%;
    width: 100%;
    transition: all 0.65s ease;
  }

  .blog-text {
    height: auto;
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-family: poppins;
    color: var(--dark_txt);
    background-color: #000000;
    transition: all 0.5s ease;
  }

  .blog-text h3 {
    font-size: 24px;
    font-weight: 200;
    height: 15%;
    padding: 10px;
    letter-spacing: 1px;
  }

  .blog-text p {
    font-size: 15px;
    opacity: 0.9;
    font-weight: 200;
    height: 85%;
    padding: 20px;
    letter-spacing: 1px;
  }

  .blogs:hover .img {
    transform: translateY(0%);
  }

  .blogs:hover .blog-text {
    transform: translateY(0%);
  }

  form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    position: relative;
  }

  .input-line {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-name {
    width: 90%;
    padding: 10px 20px;
    margin: 14px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 16px;
  }

  .form-header {
    font-size: 22px;
    font-family: poppins;
    font-weight: 400;
    color: whitesmoke;
    padding: 20px;
    padding-top: 0px;
  }

  .input-subject {
    width: 90%;
    padding: 10px 20px;
    margin: 24px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 16px;
  }

  .input-textarea {
    width: 90%;
    padding: 10px 20px;
    margin: 15px;
    height: 140px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 16px;
  }

  form button {
    padding: 8px 24px;
    font-family: poppins;
    font-size: 20px;
    color: whitesmoke;
    opacity: 0.8;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease;
  }

  form button:hover {
    opacity: 1;
  }

  .contact-info-header {
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-family: poppins;
    font-weight: 400;
    color: whitesmoke;
    padding: 20px;
  }

  .contect-info-content-line {
    height: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-left: 5%;
  }

  .hire-me-section {
    display: none;
  }
  
}

/*

for tabs and large phones

-----------------------------------------------------------------------------------------------------------------------
--------------                  -------------------  --------   -------------------------------------------------------
--------------                  ------------------  -  ----------------------------------------------------------------
---------------------  -------------------------------  ---------------------------------------------------------------
---------------------  --------------------------------  --------------------------------------------------------------
---------------------  --------------------               -------------------------------------------------------------
---------------------  --------------------   -----------  ------------------------------------------------------------
---------------------  --------------------   ------------  -----------------------------------------------------------
---------------------  ------------------------------------  ----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------

*/

@media (min-width: 768px){
  
}

@media all and (max-width: 1025px) and (min-width: 551px) {
  body {
    overflow-x: visible;
  }
  .header-content .firstline {
      z-index: 2;
      font-weight: 700;
      font-family: poppins;
      font-size: 2em;
    }
    
    .header-content .secondline {
      z-index: 2;
      font-size: 2em;
      padding-top: 20px;
      font-weight: 500;
      color: var(--dark_txt);
    }
    .about-first-line {
      margin-left: 7vh;
      font-size: 30px;
    }
    .proj {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .col-md-6 {
      margin-left: 0!important;
      position: relative!important;
      width: 100%!important;
      padding-right: 15px!important;
      padding-left: 15px!important;
    }
    .mail_nom {
      flex-direction: column!important;  
    }
    .svg-wrapper {
      margin-top: 50%;
      width: 90%;
    }
    .logos {
      width: 10%;
      height: 10%;
    }
    .lab-title h4 {
      font-size: 1.5em;
    }
    .logoabout {
      width: 50vh;
    }
    .info_perso a {
      color: #007bff;
     }
  #blog .cards {
    margin-right: 5vh;
  }

  .cardse .card__text--inner {
    font-size: 2rem;
    font-weight: 350;
  }

  .cardse .card {
    width: 260px;
    height: 360px;
    margin: 2em 4em;
  }
  .cardse {
    width: 90%;
  }

  .header-content {
    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    font-family: raleway;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 40px;
  }

  .header-image {
    float: right;
    height: auto;
    width: 0%;
  }

  .social-media-links {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header-content-box {
    padding-left: 0px;
    z-index: 2;
    text-align: center;
  }

  .contact {
    display: none;
  }

  #breaker {
    height: 200vh;
    width: 200%;
    background-color: var(--couleur_base);
    opacity: 1;
    animation: breakeranimate 2s linear;
    display: none;
    transition: all 0.4s ease;
    z-index: 10;
    position: fixed;
  }

  @keyframes breakeranimate {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @-webkit-keyframes breakeranimate {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .header-content-box {
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 0px;
    width: auto;
  }

  #about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .about-header {
    color: whitesmoke;
    justify-content: center;
    font-size: 45px;
    font-family: raleway;
    padding: 15px;
    font-weight: 900;
  }

  .about-first-paragraph {
    color: var(--dark_txt);
    justify-content: center;
    font-size: 40px;
    font-family: poppins;
    width: 95%;
    padding: 25px;
    font-weight: 400;
  }

  .about-first-paragraph .color {
    font-size: 35px;
  }

  .about-first-line {
    font-size: 32px;
    opacity: 1;
    margin-bottom: 10px;
    display: block;
  }

  .about-second-line {
    margin-left: 7vh;
    opacity: 0.8;
    font-size: 24px;
  }

  .about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column-reverse;
  }

  .about-img img {
    width: 100%;
    height: 380px;
    padding: 30px;
    border-radius: 40px;
  }

  .about-img {
    width: 550px;
    height: auto;
    padding: 30px;
    padding-top: 10px;
    border-radius: 40px;
  }

  .dwnld {
    background: var(--couleur_base);
    border: none;
    padding: 20px 30px;
    color: #171717;
    outline: none;
    font-size: 20px;
    font-family: "Red Rose", Roboto;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease;
  }

  .service {
    height: auto;
    width: 45%;
    margin: 2%;
    background-color: #191919;
    display: inline-block;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
  }

  .service-description h2 {
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 22px;
  }

  .service-description p {
    padding: 10px;
    font-weight: 200;
    font-size: 15px;
    opacity: 0.8;
  }

  .skill {
    width: 40%;
  }

  .prog {
    height: 35px;
  }

  .skills-content {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .cursor {
    display: none;
  }

  .service:hover .service-img img {
    box-shadow: 0px 0px 0px 0px #00fca8;
  }

  #navigation-bar img {
    height: 80px;
    position: absolute;
    top: 15%;
    left: 2.5%;
    opacity: 0.8;
    transition: all 0.4s ease;
  }

  .blogs {
    height: auto;
    width: 75%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .blogs .img {
    height: 60%;
    width: 100%;
    overflow: hidden;
    transition: all 0.65s ease;
    position: relative;
  }

  .blog-date {
    position: absolute;
    left: 0;
    bottom: 0;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: poppins;
    padding: 3px;
    width: 35%;
    height: auto;
  }

  .blogs .img img {
    height: 100%;
    width: 100%;
    transition: all 0.65s ease;
  }

  .blog-text {
    height: auto;
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-family: poppins;
    color: whitesmoke;
    background-color: #050505;
    padding: 10px;
    transition: all 0.5s ease;
  }

  .blog-text h3 {
    font-size: 28px;
    font-weight: 200;
    height: 15%;
    padding: 10px;
    letter-spacing: 1px;
  }

  .blog-text p {
    font-size: 17px;
    opacity: 0.9;
    font-weight: 200;
    height: 85%;
    padding: 20px;
    letter-spacing: 1px;
  }

  .blogs:hover .img {
    transform: translateY(0%);
  }

  .blogs:hover .blog-text {
    transform: translateY(0%);
  }

  form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    position: relative;
  }

  .input-line {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-name {
    width: 80%;
    padding: 10px 20px;
    margin: 14px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 16px;
  }

  .form-header {
    font-size: 22px;
    font-family: poppins;
    font-weight: 400;
    color: whitesmoke;
    padding: 20px;
    padding-top: 0px;
  }

  .input-subject {
    width: 80%;
    padding: 10px 20px;
    margin: 24px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 16px;
  }

  .input-textarea {
    width: 80%;
    padding: 10px 20px;
    margin: 15px;
    height: 140px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 16px;
  }

  form button {
    padding: 8px 24px;
    font-family: poppins;
    font-size: 20px;
    color: whitesmoke;
    opacity: 0.8;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease;
  }

  form button:hover {
    opacity: 1;
  }

  .contect-info-content-line {
    height: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-left: 30%;
  }

  .hire-me-section {
    display: none;
  }
  
}

/* ---------------------------------------------------------------------------------------------------------------
--------------                  ----------------------------------------------------------------------------------
--------------                  ----------------------------------------------------------------------------------
---------------------  -------------------------------------------------------------------------------------------
---------------------  -------------------------------------------------------------------------------------------
---------------------  -------------------------------------------------------------------------------------------
---------------------  -------------------------------------------------------------------------------------------
---------------------  -------------------------------------------------------------------------------------------
---------------------  -------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
@media all and (max-width: 9000px) and (min-width: 1441px) {
  body {
    overflow-x: visible;
  }
  .header-content .firstline {
    z-index: 2;
    font-weight: 700;
    font-family: poppins;
  }
  
  .header-content .secondline {
    z-index: 2;
    padding-top: 20px;
    font-weight: 500;
    color: var(--dark_txt);
  }
  #blog .cards {
    margin-right: 5vh;
  }

  .about-img img {
    width: 100%;
    height: 450px;
    padding: 30px;
    border-radius: 40px;
    animation: opacity 1.4s ease;
  }

  .about-img {
    width: 40%;
    height: 450px;
    padding: 30px;
    border-radius: 40px;
  }

  .about-first-line {
    font-size: 45px;
    opacity: 1;
    margin-bottom: 10px;
    display: block;
  }

  .about-first-line .color {
    font-size: 46px;
  }

  .about-second-line {
    opacity: 0.8;
    font-size: 28px;
    font-weight: 200;
  }

  .service {
    height: 400px;
    width: 28%;
    margin: 1.5%;
    padding: 10px;
    background-color: #191919;
    display: inline-block;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
    animation: opacity 1.4s ease;
  }

  .service-img {
    text-align: center;
  }

  .service-img img {
    display: inline-block;
    z-index: 2;
    position: relative;
    margin: 20px;
    border-radius: 30%;
    padding: 10px;
    height: 120px;
    transition: all 0.8s ease;
  }

  .service-description h2 {
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 32px;
  }

  .service-description p {
    padding: 10px;
    font-weight: 200;
    font-size: 18px;
    opacity: 0.8;
  }

  .blogs {
    height: 420px;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
  }

  .blogs .img {
    height: 80%;
    width: 100%;
    overflow: hidden;
    transition: all 0.65s ease;
    position: relative;
  }

  .blog-date {
    position: absolute;
    left: 0;
    bottom: 0;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: poppins;
    padding: 3px;
    width: 25%;
    height: auto;
  }

  .blogs .img img {
    height: 100%;
    width: 100%;
    transition: all 0.65s ease;
  }

  .blog-text {
    height: 80%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-family: poppins;
    color: whitesmoke;
    background-color: #050505;
    transition: all 0.5s ease;
  }

  .blog-text h3 {
    font-size: 28px;
    font-weight: 500;
    height: 20%;
    padding: 20px;
    letter-spacing: 1px;
  }

  .blog-text p {
    font-size: 18px;
    opacity: 0.9;
    font-weight: 400;
    height: 80%;
    padding: 30px;
    letter-spacing: 1px;
  }

  .blogs:hover .img {
    transform: translateY(-70%);
  }

  .blogs:hover .blog-text {
    transform: translateY(-70%);
  }

  form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    position: relative;
  }

  .input-line {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-name {
    width: 60%;
    padding: 10px 20px;
    margin: 14px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 18px;
  }

  .form-header {
    font-size: 24px;
    font-family: poppins;
    font-weight: 400;
    color: whitesmoke;
    padding: 20px;
    padding-top: 0px;
  }

  .input-subject {
    width: 60%;
    padding: 10px 20px;
    margin: 24px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 18px;
  }

  .input-textarea {
    width: 60%;
    padding: 10px 20px;
    margin: 15px;
    height: 150px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: poppins;
    font-size: 18px;
  }

  form button {
    padding: 8px 24px;
    font-family: poppins;
    font-size: 20px;
    color: whitesmoke;
    opacity: 0.8;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease;
  }
}
